/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

/* spinner */
/* https://codepen.io/DanEnglishby/embed/dyPrBYJ?height=265&theme-id=default&slug-hash=dyPrBYJ&default-tab=result&animations=run&editable=&embed-version=2&user=DanEnglishby&name=cp_embed_2 */
body {
  background-color: #03254c;
  font-family: "Work Sans", sans-serif;
}

#title-area {
  text-align: center;
  margin-bottom: 1.5rem;
}

h1 {
  color: yellow;
}

#start-btn {
  padding: 5px 20px;
  background-color: #28a200;
  color: white;
  border: 1px solid yellow;
}

table {
  table-layout: fixed;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  border: 1px solid yellow;
  width: 160px;
  height: 100px;
  overflow: hidden;
  color: white;
}

tr:not(:first-child) {
  font-size: small;
}

td:hover {
  background-color: #28a200;
}

.highlight-freeze {
  background-color: #28a200;
}

.lds-dual-ring.hidden {
  display: none;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 10% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.8); */
  z-index: 999;
  opacity: 1;
  transition: all 0.5s;
}
