#upperSection {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 25px;
  color: skyblue;
}

form {
  /* margin-bottom: 10px;
      display: grid;
      grid-template-columns: 1fr 4fr ; */
  margin: 0 auto;
  width: 1200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Adjacent Sibling Selector (+) */
form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  text-align: right;
  width: 90px;
}

label:after {
  content: ":";
}

input {
  width: 90%;
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
input:focus {
  border-color: #000;
}

#submit-btm {
  width: 100%;
  background-color: skyblue;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
}

#submit-btm:hover {
  background-color: purple;
  transition: background-color 1s ease-out;
}

#display {
  display: flex;
}

.container {
  position: relative;
  margin: 2% 2%;
  justify-content: center;
}
.container:hover {
  opacity: 0.5;
}

img {
  height: 500px;
  width: 500px;
}

.top_div {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 2.5em;
  color: white;
  text-shadow: black 0px 0px 10px;
  font-family: "Impact";
}

.btm_div {
  position: absolute;
  left: 5px;
  bottom: 10px;
  font-size: 2.5em;
  color: white;
  text-shadow: black 0px 0px 10px;
  font-family: "Impact";
}

/* 
https://developer.mozilla.org/en-US/docs/Learn/Forms/Your_first_form
https://www.w3schools.com/howto/howto_css_image_text.asp
 */
